*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   background-color: #121212;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 24px 20px;
    margin-bottom: 70px;
}

#nav1{
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
}

#nav2{
  color: white;
}

#nav3{
  color: white;
}

#nav4{
 color: white;
}

#nav5{
 color: white;
}

nav > a > i {
    font-size: 14px;
    padding: 5px 5px;
    background-color: rgba(197, 197, 197, 0.7);
    border-radius: 5px;
}

nav > a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Poppins";
}
/* 
nav > a:hover{
    background-color: ;
} */

.section1-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1-container > h1 {
    text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  color: #f89820; 
}

.section1-container > p {
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    color: #f89820; 
}

.icon {
  position: absolute;
  font-size: 24px;
  color: #333;
  opacity: 0.6;
}

 /* Lokasi ikon  */
 .top-left {
  top: 5px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}

